.benefit {
  display: flex;
  /* justify-content: center;
  text-align: center; */
  font-size: 1rem;
  line-height: 1;
  max-width: 60rem;
  padding-left: 5rem;
}

@media only screen and (min-width: 768px) {
  .benefit {
    font-size: 3rem;
    padding-left: 10rem;
  }
}

@media only screen and (min-width: 1280px) {
  .benefit {
    max-width: 70rem;
    font-size: 5rem;
    padding-left: 8rem;
    line-height: 1.5;
  }
}
